@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');
html{
    font-size: 15px;
}
body{
    overflow: hidden;
    font-family: 'Titillium Web', sans-serif;
    background: #020202;
}

/* navegacion */
.navbar{
    font-size: 1.1rem;
    background: transparent !important;
    color: #FFFFFF;
}

.navbar-collapse{
    background: #020202 !important;
}

.navbar-toggler:focus{
    outline: none;
}

.navbar-brand{
    font-size: 1.5rem !important;
    color: #21FDE7 !important;
    font-weight: 700;
}
.navbar-brand:hover{
    
    color: #FFFFFF !important;
   
}

.navbar-dark .navbar-nav .nav-link{
    color: #FFFFFF;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1.5px;
    transition: background-size .5s;
    
}

.navbar-dark .navbar-nav .nav-link.active{
    color: #21FDE7;
    background-size: 100% 1.5px;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
    color: #21FDE7;
    background-size: 100% 1.5px;
}

/* cabecera */

.cabecera{
        padding-top: 10rem;
        padding-bottom: calc (10rem - 4rem );
        
}

.cabecera img{
    border: 0.4rem solid #FFFFFF;
    width: 12rem;
    height: 12rem;
}

.cabecera h1{
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.cabecera h3{
    font-size: 1.25rem;
    color: #21FDE7;
}

.cabecera a i:hover{
    color: #21FDE7 !important;
    transition: all .7s ease;
}

/* SECCIONES */

.portfolio-section{
    padding: 8rem 0;
}

.underline-title{
    max-width:3.25rem;
    border-width: 0.2rem;
}
/* 1.ABOUT */

/* 2.HABILIDADES */
.progress{
    background-color: #FFFFFF;
}
.progress-bar{
    background-color: #21FDE7;
}

@media (min-width:576px){

    
}

@media (min-width: 768px){
    .cabecera h1{
        font-size: 2.75rem;
      }
    
      .cabecera h3{
          font-size: 1.75rem;
      }

    .cabecera img{
        width: 15rem;
        height: 15rem;
    }
}

@media (min-width:992px){
    .cabecera{
        height:100vh;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }
}