@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');
html{
    font-size: 15px;
}
body{
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
}

/* buttons portfolio */
.portfolio-btn{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 7px 14px;
    background-color: transparent;
    border: 1px solid rgb(255, 62, 85);
    color: rgb(255, 62, 85) !important;
    transition: all 0.3s ease-in;
}

.portfolio-btn:hover{
    text-decoration: none;
    border: 1px solid rgb(255, 62, 85);
    background-color: rgb(255, 62, 85);
    color: rgb(255, 255, 255) !important;
}

/* lista redes sociales */
.rrss a i{
    color: rgb(255, 255, 255) !important;
    transform: rotate(-360deg);
    transition: all 1s;
}

.rrss a i:hover{
    color: rgb(255, 62, 85) !important;
    transform: rotate(360deg);
}

/* barra de navegacion */
.navbar{
    font-size: 1.1rem;
    background-color: rgb(2, 29, 68) !important;
    color: rgb(255, 255, 255);
}

.navbar-collapse{
    background: rgb(2, 29, 68) !important;
}

.navbar-toggler:focus{
    outline: none;
}

.navbar-brand img, footer img{
    width: 50px;
    height: 50px;
    transform: rotate(-360deg) scale(1);
    transition: all 1s;

}
.navbar-brand img:hover, footer img:hover{
    
    transform: rotate(360deg) scale(1.2);
   
}

.navbar-dark .navbar-nav .nav-link{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1.5px;
    transition: all .5s ease-in;
    
}

.navbar-dark .navbar-nav .nav-link.active{
    color: rgb(255, 62, 85);
    background-size: 100% 1.5px;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark{
    color: rgb(255, 62, 85);
    background-size: 100% 1.5px;
}

/* CABECERA */

.cabecera{
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    background-color: rgb(2, 29, 68);
    color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    align-items: center;
        
}

.cabecera img{
    border: 0.4rem solid rgb(255, 255, 255);
    width: 12rem;
    height: 12rem;
    
}

.cabecera h1{
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: center;
}

.cabecera h3{
    font-size: 1.25rem;
    color:rgb(255, 62, 85);
}



/* SECCIONES */

.portfolio-section{
    padding-top: 8rem;
    padding-bottom: 6rem;
    color: rgb(2, 29, 68); 
}

.portfolio-section p{
    color: rgb(2, 29, 68); 
}

.underline-title{
    max-width:3.25rem;
    border-width: 0.2rem;
    background-color: rgb(2, 29, 68);
    margin-bottom: 3rem;
}


/* 1.ABOUT */

/* 2.HABILIDADES */
.progress{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(2, 29, 68);
}
.progress-bar{
    background-color: rgb(255, 62, 85);
}

/* 3.PROYECTOS */

.proyect-item{
    position: relative;
    overflow: hidden;
    height: auto;
    text-align: center;
    
}

.proyect-item .proyect-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.5s ease-in;
    

}

.proyect-item:hover .proyect-overlay{
    background-color: rgb(255, 255, 255);
    opacity: 1;
    
}

.proyect-item:hover .proyect-overlay h5, .proyect-item:hover .proyect-overlay h6{
    color: rgb(2, 29, 68);
    padding: 0 1rem;
}

.proyect-item:hover .proyect-overlay h6{
    margin-bottom: 3rem;
}

.proyect-item h5, .proyect-item h6, .proyect-item .portfolio-btn{
    transform: scale(0.7);
    transition: all 0.5s ease-in;
    color: rgb(255, 255, 255);
}

.proyect-item:hover h5, .proyect-item:hover h6, .proyect-item:hover .portfolio-btn{
    transform: scale(1);
    transition: all 0.5s ease-in;
    
} 

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgb(2, 29, 68);
    padding: 0.7rem;
}


/* 4. CONTACTO */

#contacto{
    padding: 8rem 0 6rem 0;
    background-color: rgb(2, 29, 68);
    color: rgb(255, 255, 255);
}

#contacto .underline-title{
    background-color: rgb(255, 255, 255);
}

#contacto h6{
    text-align: center;
    font-weight: bold;
    color: rgb(255, 62, 85);
    margin-bottom: 1.5rem;

}

/* FOOTER */

footer{
    padding: 3rem 0;
    background-color: rgb(2, 29, 68);
    color: rgb(255, 255, 255);

}

footer span{
    color: rgb(255, 62, 85);
    margin-left: 0.3rem;
}

/* MEDIA QUERIES */

@media (max-width:768px){

    .proyect-item:hover .proyect-overlay h5{
        font-size: 1.75rem;
    }

    .proyect-item:hover .proyect-overlay h6{
        font-size: 1.4rem;
    }
}

@media (min-width: 768px){

    .cabecera{
        padding-top: 17rem;
        padding-bottom: 12.5rem;
    }
    .cabecera h1{
        font-size: 2.75rem;
      }
    
      .cabecera h3{
          font-size: 1.75rem;
      }

    .cabecera img{
        width: 15rem;
        height: 15rem;
    }
}
